:root {
    --link: #5EB1BF;
    --main-orange: #d84727;
}


/********** Navbar **********/

.navbar-brand{
    font-family: 'Kaushan Script';
}

.nav-orange{
    background-color: var(--main-orange);
    border-bottom: 2px;
}


.link-white{
    color: #ffff;
    margin-left: 15px;
}

.btn-primary{
    background-color: var(--link);
    border-color: var(--link);
}

.btn-primary:hover{
    background-color: var(--main-orange);
}


.bi-globe{
    fill: white;
}

.bi-globe:hover{
    fill: black;
}

.bi-bell{
    fill: white;
}

.bi-bell:hover{
    fill: black;
}

.user-dropdown{
    background-color: var(--main-orange);
    border-radius: 0px;
    border-color: var(--main-orange);
    color: #ffff;
}
.user-dropdown:hover{
    border-radius: 0pt;
    border-color: var(--main-orange);
}

.user-dropdown:focus{
    border-color: var(--main-orange);
}

option{
    border-radius: 0%;
}

/********** Login Page **********/
.login-body, .login-btn {
    background-color: var(--main-orange);
    /* overflow-y: hidden; */
}

.login-form, .signup-form {
    width: 45%;
}

.login-container{
    background-color: white;
    border-radius: 10px;
    width: 45%;
    height: 50%;
    padding: 3rem 2rem;
    padding-top: 7rem;
}

.help-links>a {
    font-size: 0.8rem;
    line-height: 0.9rem;
}

p, a, input::placeholder {
    font-family: 'Nunito';
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--link);
}

.logo {
    font-family: 'Kaushan Script';
    font-size: 4rem;
}

input.form-control {
    border-radius: 5px;
    border-color: #DADADA;
}

input.form-control::placeholder {
    color: black;
}


/********** Sign Up Page **********/
.signup-container{
    background-color: white;
    border-radius: 10px;
    width: 40%;
    height: 50%;
    padding: 3rem 2rem;
    padding-top: 7rem;
}

.tools{
    border-color: black;
    border: 1px;
    border-style: solid;
}