/* Navbar */
.nav-orange{
    background-color: #d84727;
    border-bottom: 2px;
}

.link-white{
    color: #ffff;
    margin-left: 15px;
}

.nav-right{
    float: right;
}

.create-btn{
    background-color: #5EB1BF;
}


.bi bi-globe{
    fill: white;
}

.bi bi-bell{
    fill: white;
}
svg:hover{
    fill: black;
}

svg.downarrow{
    fill: white;
}

.user-dropdown{
    background-color: #d84727;
    border-radius: 0px;
    border-color: #d84727;
    color: #ffff;
}
.user-dropdown:hover{
    border-radius: 0pt;
    border-color: #d84727;
}

.user-dropdown:focus{
    border-color: #d84727;
}

/* Login Page */
.login-body{
    background-color: #d84727;
    /* overflow-y: hidden; */
}

.login-container{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.login-btn{
    background-color: #d84727;
}

.login-links{
    font-weight: lighter;
    font-size: 10pt;
}

