<div class="comments d-inline-flex align-items-center">
    <!-- comment svg -->
    <form id="comment-on-scratch-{{scratch.scratch_id}}" action="/scratch/{{scratch.scratch_id}}/comment" method="post">
        <a href="javascript:{}" onclick="document.getElementById('comment-on-scratch-{{scratch.scratch_id}}').submit(); return false;" class="d-inline">
            <svg xmlns="http://www.w3.org/2000/svg" width="16"or if num_likes == 0  height="16" fill="currentColor"
                class="bi bi-chat-fill main-orange" viewBox="0 0 16 16">
                <path
                    d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
            </svg>
            <p class="stats-label ps-1 d-inline-block">{{ num_comments }} comment{% if num_comments > 1 or num_comments == 0 -%}s{% endif %}</p>
        </a>
    </form>
</div>