{% extends 'layout.html' %}
{% block body %}

<h1>Create Scratch</h1>
<div class="canvas">
  <div class="tools">
      
  </div>

  <div class="drawing-canvas">

  </div>

  <div class="colors d-flex align-items-center flex-column">
      <div class="color-conatainer d-flex align-items-center flex-column">
          <!-- lg circle buttons-->
          <button class="btn btn-black btn-circle btn-circle-lg m-1"><i class="fa fa-check"></i></button>
          <button class="btn btn-red btn-circle btn-circle-lg m-1"><i class="fa fa-cog"></i></button>
          <button class="btn btn-pink btn-circle btn-circle-lg m-1"><i class="fa fa-paper-plane"></i></button>
          <button class="btn btn-orange btn-circle btn-circle-lg m-1"><i class="fa fa-tags"></i></button>
          <button class="btn btn-yellow btn-circle btn-circle-lg m-1"><i class="fa fa-sliders"></i></button>
          <button class="btn btn-limeg btn-circle btn-circle-lg m-1"><i class="fa fa-search"></i></button>
          <button class="btn btn-green btn-circle btn-circle-lg m-1"><i class="fa fa-wrench"></i></button>
          <button class="btn btn-teal btn-circle btn-circle-lg m-1"><i class="fa fa-bar-chart"></i></button>
          <button class="btn btn-blue btn-circle btn-circle-lg m-1"><i class="fa fa-bar-chart"></i></button>
          <button class="btn btn-purple btn-circle btn-circle-lg m-1"><i class="fa fa-bar-chart"></i></button>
          <button class="btn btn-choose btn-circle btn-circle-lg m-1"><i class="fa fa-bar-chart"></i></button>
      </div>
  </div>
</div>
    </div>
  </div>
{% endblock %}