{% extends 'layout-no-navbar.html' %}
{% block body %}
<style>
  .back-button {
  position: absolute;
  top: 8px;
  left: 16px;
  }

  .scratch-form{
      padding-top: 30px;
  }
  .canvas{
    width: 1000;
    height: 580;
  }
  .colors{
    height: fit-content;
  }

  body{
    background-color: #d84727;
  }
</style>

<span class="back-button">
  <button type="button" onclick="history.back()" class="btn btn-primary flex-grow-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16" >
      <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
    </svg>
    Go Back
  </button>
</span>


  <div class="scratch-form mb-3">
    <div class="canvas">
        <div class="tools">
            <ul class="option">
              <li class="option tool active" id="pen">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
                <span>Pen</span>
              </li>

              <li class="option tool" id="eraser">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
                  <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                </svg>
                <span>Eraser</span>
              </li>

              <li class="option tool" id="line">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                </svg>
                <span>Line</span>
              </li>

              <li class="option tool" id="square">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                </svg>
                <span>Square</span>
              </li>

              <li class="option tool" id="circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                </svg>
                <span>Circle</span>
              </li>

              <li class="option tool" id="triangle">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                  <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                </svg>
                <span>Triangle</span>
              </li>

              <li class="option">
                <label for="fill-color" class="">Size</label>
                <input type="range" class="form-range" name="fill-color" id="size-slider" min="1" max="20" value="5">
              </li>
            </ul>
        </div>

        <div class="drawing-canvas">
          <canvas></canvas>
        </div>
        <div class="colors d-flex align-items-center flex-column">
          <div class="color-container d-flex align-items-center flex-column">
              <!-- lg circle buttons-->
              <button class="btn btn-black btn-circle btn-circle-lg m-1 selected"></button>
              <button class="btn btn-red btn-circle btn-circle-lg m-1"></button>
              <button class="btn btn-pink btn-circle btn-circle-lg m-1"></button>
              <button class="btn btn-orange btn-circle btn-circle-lg m-1"></button>
              <button class="btn btn-yellow btn-circle btn-circle-lg m-1"></button>
              <button class="btn btn-limeg btn-circle btn-circle-lg m-1"></button>
              <button class="btn btn-green btn-circle btn-circle-lg m-1"></button>
              <button class="btn btn-teal btn-circle btn-circle-lg m-1"></button>
              <button class="btn btn-blue btn-circle btn-circle-lg m-1"></button>
              <button class="btn btn-purple btn-circle btn-circle-lg m-1"></button>
              <div style="position:relative; display:inline-block">
                <button class="button btn-choose btn-circle btn-circle-lg m-1">
                  <input type="color" id="color-picker" value="#4A98F7" style="opacity:0; position:absolute; left:0;top:0;width:100%; height:100%"/>
                </button>
              </div>
          </div>
      </div>
    </div>
  </div>
<form action="" method="post" class="">
  <div class="login-form m-auto">
    <div class="mb-3">
      <input type="text" name="caption" id="caption" class="form-control" autocomplete="off" maxlength="20" placeholder="Caption (20 chars)">
    </div>
    <div class="d-flex pt-1">
      <button type="button" class="btn btn-primary flex-grow-1">Post</button>
    </div>
  </div>
</form>
{% endblock %}