{% extends 'layout.html' %}
{% block body %}
<style>
   h1 {
        padding-top: 50px;
        text-align: center;
        padding-bottom: 50px;
    } 

    .cards{
        display: flex;
        justify-content: space-between;
        width: 500px;
    }
    .icon{
        padding-inline-start: 1em;
    }
    form {
        display: inline;
    }
    
</style>

<!--Page Heading-->
<h1>Discover</h1>

<!--Handles creation of all cards-->
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <div class="row row-cols-1 row-cols-md-3 g-3">
       <!--For Loop for creating cards-->
      {% for scratch, user in all_scratches_and_their_authors.items() %}
        <div class="col">
          {% include 'scratch-card.html' %}
        </div>
      {% endfor %}
        
    </div>
</div>
  

{% endblock %}