{% extends 'layout.html' %}
{% block body %}
<style>
   h1 {
        padding-top: 50px;
        text-align: center;
        padding-bottom: 50px;
    } 

    .cards{
        display: flex;
        justify-content: space-between;
        width: 500px;
    }
    .icon{
        padding-inline-start: 1em;
    }
    form {
        display: inline;
    }
    
</style>

<!--Page Heading-->
<h1>Discover</h1>

<!--Handles creation of all cards-->
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
    <div class="row row-cols-1 row-cols-md-4 g-4">
       <!--For Loop for creating cards-->
      {% for i in range(11) %}
        <div class="col">
          <div class="card h-100 justify-content-center">

                <!--Card image display-->
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" class="card-img-top" alt="...">

                <!--Card body text-->
                <div class="card-body">
                    <p class="card-text">A wonderful caption</p>
                </div>

                <!--Card footer-->
                <div class="card-footer bg-transparent justify-content-center">
                  

                    <!--Person Icon-->
                    <span class="icon">
                        <button type="button" class="btn btn-clear">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </button>
                    </span>

                    <!--Upvote Icon-->
                    <span class="icon">
                        <button type="button" class="btn btn-clear">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </span>
                    
                    <!--Downvote Icon-->
                    <span class="icon">
                        <button type="button" class="btn btn-clear">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-dash" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M5.5 6.5A.5.5 0 0 1 6 6h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                            </svg>
                        </button>
                    </span>
                    
                    <!--Reply Icon-->
                    <span class="icon">
                        <form action="/compose-reply/scratch" method="get" class="">
                            <button type="submit" class="btn btn-clear">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
                                </svg>
                            </button>
                        </form>
                    </span>   
                </div>
          </div>
        </div>
      {% endfor %}
        
    </div>
</div>
  

{% endblock %}