<!-- profile-picture -->
<div class="scratch-footer-card-large__col">
    <a href="/user/{{scratch.author_id}}">
        <img src="/static/scratches/{{ user.profile_picture_filename }}" alt="mianjoto's profile picture"
        class="profile-picture unselectable">
    </a>
</div>
<!-- username-and-date-posted -->
<div class="scratch-footer-card-large__col">
    <a href="/user/{{scratch.author_id}}">
        <h1 class="username">{{ user.username }}</h1>
    </a>
    <small class="stats-label subtitle date mb-3">{{ time_since_creation }}</small>
    <p class="caption-text subtitle">{{ scratch.caption }}</p>
</div>
<!-- likes and comments -->
<div class="scratch-footer-card-large__col ms-auto me-2">
    {% include 'like-stat.html' %}
    {% include 'comment-stat.html' %}
</div>