{% include 'head.html' %}
<!-- <link rel="stylesheet" href="static/css/main.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->

<style>
    .scratch-card {
        outline: 2px solid black;
        width: 400px;
        height: 530px;
    }

    .scratch-card__header {
        border-bottom: 1px solid black;
        height: 100px;
    }

    .scratch-header-card__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .profile-picture {
        width: 80px;
        height: 80px;
        outline: 1px solid black;
        margin: 0.5rem;
    }
    
    .username {
        font-weight: 800;
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }

    .stats-label {
        margin: 0;
        padding: 0;
        color: var(--main-orange)
    }

    .scratch-img, .scratch-img>img {
        width: 400px;
        height: 400px;
        /*outline: 1px solid black;*/
        overflow: hidden;
    }

    .scratch-head__footer {
        outline: 2px solid var(--subtitle);
        height: 30px;
    }

    .caption-text {
        text-align: center;
    }

</style>

<div class="scratch-card ms-1 mt-1">
    <div class="scratch-card__header d-flex flex-row">
        <!-- profile-picture -->
        <div class="scratch-header-card__col">
            <img src="/static/scratches/20010012008002022.jpeg" alt="mianjoto's profile picture" class="profile-picture unselectable">
        </div>
        <!-- username-and-date-posted -->
        <div class="scratch-header-card__col">
            <h1 class="username">mianjoto</h1>
            <p class="stats-label subtitle">3 days ago</p>
            <!-- likes-and-comments -->
        </div>
        <!-- likes and comments -->
        <div class="scratch-header-card__col ms-auto me-2">
            <div class="likes d-inline-flex align-items-center">
                <!-- like (heart) svg -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill main-orange" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
                <p class="stats-label ps-1">0 likes</p>
            </div>
            <div class="comments d-inline-flex align-items-center">
                <!-- comment svg -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill main-orange" viewBox="0 0 16 16">
                    <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                </svg>
                <p class="stats-label ps-1">0 comments</p>
            </div>
        </div>
    </div>
    
    <div class="scratch-img">
        <img src="/static/scratches/30010012008002022.jpeg" alt="scratch.caption" class="unselectable">
    </div>
    <!-- caption -->
    <div class="scratch-head__footer">
        <p class="caption-text subtitle">A most beautiful caption</p>
    </div>
</div>
