{% include 'head.html' %}

<style>
    .scratch-card {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px, rgba(0, 0, 0, 0.48) 0px 1px 2px;
        width: 400px;
        height: 530px;
    }

    .scratch-card__header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.405);
        height: 100px;
    }

    .scratch-header-card__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .profile-picture {
        width: 80px;
        height: 80px;
        margin: 0.5rem;
    }

    .username {
        font-weight: 800;
        color: black;
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }

    .stats-label {
        margin: 0;
        padding: 0;
        color: var(--main-orange)
    }

    .scratch-img,
    .scratch-img>img {
        width: 400px;
        height: 400px;
        /*outline: 1px solid black;*/
        overflow: hidden;
    }

    .scratch-head__footer {
        height: 30px;
    }

    .caption-text {
        border-top: 1px solid rgba(0, 0, 0, 0.405);
        text-align: center;
    }

    a {
        height: inherit;
        width: inherit;
        padding: 0;
        margin: 0;
    }
    form {
        padding: 0;
        margin: 0;
        white-space: nowrap;
    }
</style>

<div class="scratch-card ms-1 mt-1">
    <div class="scratch-card__header d-flex flex-row">
        <!-- profile-picture -->
        <div class="scratch-header-card__col profile-picture">
            <a href="/user/{{scratch.author_id}}">
                <img src="/static/scratches/{{ user.profile_picture_filename }}" alt="mianjoto's profile picture"
                    class="profile-picture unselectable">
            </a>
        </div>
        <!-- username-and-date-posted -->
        <div class="scratch-header-card__col">
            <a href="/user/{{scratch.author_id}}">
                <h1 class="username">mianjoto</h1>
            </a>
            <small class="stats-label subtitle date mb-3">10 days ago</small>
        </div>
        <!-- likes and comments -->
        <div class="scratch-header-card__col ms-auto me-2">
            <div class="likes d-inline-flex align-items-center">
                <!-- like (heart) svg -->
                <form id="like-scratch-{{scratch.scratch_id}}" action="/scratch/{{scratch.scratch_id}}/like"
                    method="post">
                    <a href="javascript:{}"
                        onclick="document.getElementById('like-scratch-{{scratch.scratch_id}}').submit(); return false;"
                        class="d-inline">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-heart-fill main-orange" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg>
                        <p class="stats-label ps-1 d-inline-block">3 likes</p>
                    </a>
                </form>
            </div>

            <div class="comments d-inline-flex align-items-center">
                <!-- comment svg -->
                <form id="comment-on-scratch-{{scratch.scratch_id}}" action="/scratch/{{scratch.scratch_id}}/comment"
                    method="post">
                    <a href="javascript:{}"
                        onclick="document.getElementById('comment-on-scratch-{{scratch.scratch_id}}').submit(); return false;"
                        class="d-inline">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chat-fill main-orange" viewBox="0 0 16 16">
                            <path
                                d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
                        </svg>
                        <p class="stats-label ps-1 d-inline-block">2 comments</p>
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div class="scratch-img">
        <a href="/scratch/{{ scratch.scratch_id }}">
            <img src="/static/scratches/{{ scratch.scratch_filename }}" alt="Caption: {{scratch.caption}}" class="unselectable">
        </a>
    </div>
    <!-- caption -->
    <div class="scratch-head__footer">
        <p class="caption-text subtitle">{{ scratch.caption }}</p>
    </div>
</div>