{% extends 'layout.html' %}

{# Background Color for body #}
{% block content %}
class="login-body"
{% endblock %}

{% block body %}
<div class="d-flex align-items-center min-vh-100">
  <div class="container signup-container">
    <h1 class="text-center mb-5 logo">From Scratch</h1>
    <form action="/signup" method="post" class="signup-form m-auto">
        <!--Create Username Input-->
        <div class="mb-3 d-flex align-items-center">
          <input type="text" class="form-control form-control-lg" name="username" id="username" placeholder="Username""> <!-- Thing from before: @{{ placeholder_usernames[range(0, placeholder_usernames|length) | random ] }}-->
        </div>
        <!--Create Password Input-->
        <div class="mb-3 d-flex align-items-center">
          <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Password">
        </div>
        <!--Confirm Password-->
        <div class="mb-3 d-flex align-items-center">
          <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Confirm Password">
        </div>
        <!--TOS Checkbox-->
        <div class="form-check mb-5">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Do you agree to our terms of services?
          </label>
        </div>
        <!--Sign up Button-->
        <div class="mb-3 w-fit text-center align-items-center">
          <button type="submit" class="btn btn-primary btn-sm d-inline-block p-2 border-0 ps-3 pe-3">Sign up :)</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}