{% extends 'layout-no-navbar.html' %}
{% block body %}


<!--Back Button-->
<span class="back-button">
    <button type="button" onclick="history.back()" class="btn btn-primary flex-grow-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
        Go Back
    </button>
</span>

<div class="content d-flex flex-column align-items-center w-50 m-auto">
    <div class="scratch-card mt-5">
        {% include 'scratch-card-large.html' %}
    </div>

    <style>
        .back-button {
            position: absolute;
            top: 8px;
            left: 16px;
        }

        .replies {
            align-content: center;
        }

        .scratch-label {
            padding-top: 80;
        }

        .card-body {
            height: 30%;
        }

        .icon {
            padding-inline-start: 3em;
            justify-content: center;
        }

        .profile-picture {
            width: 80px;
            height: 80px;
            margin: 0.5rem;
        }
    </style>

    <!-- Comments section-->
    <!-- Add comment box -->
    <form action="/scratch/{{scratch.scratch_id}}/comment" method="post" class="mt-3 mb-3 w-50 d-flex flex-row justify-content-center align-content-center">
        <input type="text"
        class="form-control form-control-sm"
        name="comment-text" id="comment-text" aria-describedby="comment-text-help" 
        maxlength="128" required autocomplete="off"
        placeholder="Say something nice :)">
        <input type="submit" style="display: none" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <h2 class="justify-content-center pt-4 text-white">Comments</h2>
    <!-- Comments -->
    <div class="d-flex flex-column bg-white rounded w-50">
        {% for comment, author in scratch_comments_and_their_authors.items() %}
            {% include 'comment.html' %}
        {% endfor %}
    </div>


</div>

<!-- Adding space from bottom -->
<div class="mb-3"></div>

{% endblock %}
