{% extends 'layout-no-navbar.html' %}
{% block body %}


<!--Back Button-->
<span class="back-button">
    <button type="button" onclick="history.back()" class="btn btn-primary flex-grow-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
        Go Back
    </button>
</span>

<div class="content d-flex flex-column align-items-center">
    <div class="scratch-card mt-5">
        {% include 'scratch-card-large.html' %}
    </div>

    <style>
        .back-button {
            position: absolute;
            top: 8px;
            left: 16px;
        }

        .replies {
            align-content: center;
        }

        label {
            display: block;
            text-align: center;
            line-height: 150%;
            color: #5EB1BF;
            font-size: x-large;
        }

        .scratch-label {
            padding-top: 80;
        }

        .card-body {
            height: 30%;
        }

        .icon {
            padding-inline-start: 3em;
            justify-content: center;
        }
    </style>

    <!-- Comments -->
    <label class="justify-content-center" style="padding-top: 20;">Comments</label>
    {% for comment in scratch_comments %}
    <div class="replies justify-content-center" style="padding-top: 20; padding-left: 450;">
        <div class="row">
            <div class="col-1" width="200">
            <div class="d-flex">
                    <img class="rounded-circle" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="..." width="65"
                    height="65" />
            </div>
            </div>
            <div class="col-5 d-flex">
                <div>
                    <div>
                        <p>
                            Username 
                            <small>
                                - 24 hours ago
                            </small>
                        </p>
                    </div>
                    <small> What's cookin good lookin, keep up the good work.</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>

{% endblock %}